/* Footer.css */

.footer {
    margin-top: 4rem; 
    padding: 1.5rem 0;     text-align: center;
    color: black;
    background-color: white;
    font-size: 16px;
    font-weight: 400;
  }
  
  @media (min-width: 768px) {
    .footer {
      font-size: 18px; 
    }
  }
  